<section>
	<h2 id="intro">Changing the Culture of Government</h2>
	<img src="{{assets}}/assets/Gov2.0.jpg" title="Gov 2.0 Toronto Logo" />
	<p>#W2P, #W2PYYZ, #GTEC, </p>
	<p><time datetime="2013-11-21">November 21, 2013</time></p>
</section>