<section>
	<h2>Links</h2>
	<h3>Open Data</h3>
	<p>Open data allows all levels in an organization and outside get a view into what is happening at the organization</p>
	<h3>Open Government</h3>
	<p>Has changed the processes </p>
	<h3>The People</h3>
	<p>Sharing ideas between peers</p>
</section>