<section>
	<h2>The People</h2>
	<ul>
		<li>Sharing ideas between peers</li>
		<li>Creating communities</li>
		<li>Holding events</li>
		<li>Discussing new ideas</li>
	</ul>
	<aside class="notes">
		<ul>
			<li>W2P: Web 2.0 Practictioners has branches in many cities. Originally organized by Federal Civil Cer</li>
			<li>FLO: Future leaders of Ontario</li>
			<li>PDN: Formerly the Federal Youth Network</li>
			<li>GTECH: Organized by the private sector and vendors but used by Civil servants to share ideas</li>
			<li>We now live in a world where our ministers and CxOs are available on Twitter</li>
		</ul>
		(Change by Minute 5)
	</aside>
</section>