<section>
	<h2 id="quest_ce_que">Qu’est-ce que la BOEW?</h2>
	<p>Une bibliothèque de code pour construire des sites Web:<br/>
	<strong>Accessibles</strong>,<br/>
	<strong>Faciles d’emploi</strong>,<br/>
	<strong>Interopérables</strong> et;<br/>
	<strong>Optimisés pour les appareils mobiles</strong>.</p>

	<p>Cette Boîte à outils est également:<br/>
	<strong>personnalisable</strong>,<br/>
	<strong>Modulaire</strong>,<br/>
	<strong>Indépendante des plateformes</strong> et;<br/>
	<strong>Libre et gratuite</strong>.</p>
</section>