<section>
	<h2>Contact Me</h2>
	<ul>
		<li>Twitter: @nchonni</li>
		<li>Email: nschonni@gmail.com</li>
	</ul>
	<h3>Next</h3>
	<p>JURY KONGA - Open Government Partnership</p>
	<aside class="notes">
		Thanks for having me tonight. Hope to see you tomorrow at GovMaker to put some of what we've learned here tonight into practice.
	</aside>
</section>