<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Changing the Culture of Government</title>
		<link rel="stylesheet" href="{{assets}}/reveal.js/css/reveal.min.css">
		<link rel="stylesheet" href="css/styles.min.css">
	</head>
	<body>
		<h1>Changing the Culture of Government</h1>
		<div class="reveal">
			<div class="slides">
				{{>01_intro}}
				{{>02_links}}
				{{>03_outro}}
			</div>
		</div>
		<script src="{{assets}}/reveal.js/lib/js/head.min.js"></script>
		<script src="{{assets}}/reveal.js/js/reveal.min.js"></script>
		<script>
			Reveal.initialize();
		</script>
	</body>
</html>
